<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Szymon Motyka</h2>
            <p>Blog o Technologii i Programowaniu</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="http://szymonmotyka.pl" class="button fit scrolly">Szymon Motyka</a></li>
                <li><a href="http://lifelike.pl" class="button fit scrolly">LifeLike.pl</a></li>
                
            </ul>
        </footer>

    </div>

</section>