<!-- Feel free to remove this div. Uses purplecoat: http://ellekasai.github.io/purplecoat.js -->
<div data-purplecoat="shiori" data-purplecoat-label="sidebar.html">
  <h3 class="section-header">
    About Me
  </h3>
  <p>
    <div class="media">
      <h4 class="media-heading">Szymon Motyka</h4>
      <div class="media-body">
        <img src="https://avatars0.githubusercontent.com/u/1876578?v=3&s=240" alt="Szymon Motyka">
      </div>
    </div>
  </p>
 <h3 class="section-header">
    About Me
  </h3>
  </div>




